email-auth {
  font-family: Courier New, Courier, monospace;
  font-weight: bold;
  width: 100%;
  .loginform{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    text-align:center;
    padding: 1%;
    input{
      width: 80%;
      margin: 1%;
    }
    button{
      position: relative;
      display: inline-block;
      margin: 0.5%;
      padding: 0.5%;
      overflow: hidden;
      border-width: 0;
      outline: none;
      border-radius: 2px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
      color: #ecf0f1;
      transition: background-color .3s;
    }button:hover{
        cursor: pointer;
      }
  }
}
