google-auth{

    button{
    position: relative;
    display: inline-block;
    margin: 0.5%;
    padding: 0.5%;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    color: #ecf0f1;
    transition: background-color .3s;
  }button:hover{
      cursor: pointer;
    }
}
